
<nav class="fixed-top">
<div id="navbar" class="container-fluid">
  <div class="row">
    <div class="col navCol leftNav" style="justify-content: left;">
      KWIATKI<br>Z CHATKI
      <a href="#"><img class="logo" src="../../../assets/logo2.svg" style="margin-left: 10px"></a>
    </div>
    <div class="col navCol list">
        <li class="buttonElement"><a href="#gallery">GALLERY</a></li>
      <li class="buttonElement"><a href="#about">ABOUT</a></li>
        <li class="buttonElement"><button>BOOK</button></li>
    </div>
    <div class="col navCol list" style="justify-content: right;">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>
</div>
</nav>
